.tech{
    background-color: #fff;
    position: relative;
    width: 325px;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: -30px 70px 150px -20px rgba(51, 51, 51, 0.25);
    transform-style: preserve-3d;
    position: absolute;
}
.tech:nth-child(1){
    left: 10%;
    top: 33%;
}  
.tech:hover{
    background-color: #DBAE51;
} 
.tech:nth-child(2){
    left: 70%;
    top: 33%;
 
}  
.tech:nth-child(3){
    top: 33%;
    left: 40%;
}
.tech-image{
    position: relative;
    height: 160px;
}
.tech img{
    max-width: 100%;
    position: absolute;
    height: 200px;
    object-fit: cover;
    object-position: center;
}  
.tech-details{
    display: grid;
    grid-row-gap: 8px;
    grid-template: 1fr 1fr / 1fr 1fr;
    padding: 8px 30px 20px;
}
.tech-name{
    grid-column: 1;
    grid-row: 2;
    font-size: 14px;
    font-weight: bold;
    color: #A80C33;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #A80C33;
    perspective: 2000px;
    position: relative;
    height: 100vh;
    background: linear-gradient(rgba(163, 83, 8, 0.95), rgba(121, 70, 29, 0.65), rgba(94, 67, 26, 0.38), rgba(129, 84, 25, 0.95)),
    #A80C33;
}
