*{
    margin: 0px;
    padding: 0;
}
body{
    background-color: #A80C33;
    background: linear-gradient(rgba(163, 83, 8, 0.95), rgba(121, 70, 29, 0.65), rgba(94, 67, 26, 0.38), rgba(129, 84, 25, 0.95)),
    #A80C33;
}
.box{
    width: 1200px;
    float: center;
    border: 1px solid none;
}
.box ul li{
    width: 200px;
    float: left;
    margin: 10px auto;
    text-align: center;
}
.box ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.box ul li:hover{
    background-color: #DBAE51;
}
.box ul li a:hover{
    color: white;
}
.header, .head{
    text-align: center;
    color: #DBAE51;
}
.mj img{
    height: 250px;
    width: 250px;
    position: absolute;
    bottom: 300px;
    right: 590px;
    object-fit: cover;
    transform: translateX(-20%);
    border-radius: 10%;
    justify-items: center;
    display: flex;
}
.outer{
    background: linear-gradient(rgba(163, 18, 8, 0.95), rgba(121, 32, 29, 0.65), rgba(94, 28, 26, 0.38), rgba(129, 28, 25, 0.95)),
    #A80C33;;
    border-radius: 20px;
    margin: 50px 80px 30px 80px;
    padding: 20px;
}
.header h1 {
    color: #DBAE51;
    font-size: 54px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding: 10px;
}
.caption h4 {
    font-family: consolas, sans-serif;
    font-size: 16px;
    color: #DBAE51;
}
.intro p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 17px;
    padding: 10px;
    color: rgb(212, 211, 211);
}
.timeline ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    color: rgb(212, 211, 211);
}
  
.timeline li {
    padding-left: 6em;
    text-indent: -1em;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 17px;
}
  
.timeline li:before {
    content: "►";
    padding-right: 5px;
}
.message p{
    font-family: cursive;
    color: rgb(212, 211, 211);
}